:root {
    --grid-cols: 1;
    --grid-rows: 1;
    --background-color:black;
}
body{
    background-color:var(--background-color);
    transition: 0.6s;
    font-family: sans-serif;
}
#container{
    border-radius: 3%;
    background-color:rgb(77, 43, 156);
    margin: auto;
    width: 680px;
    height: 800px;
}
#menu{
    cursor: default;
    color:var(--background-color);
    margin: auto;
    width:550px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}
#menu div:hover{
    color:white;
    transition: 0.3s;
}

#clear{
    font-size:30px;
    padding: 20px;
    margin: auto;
    cursor: pointer;
}

#grid-size-input{
    
    align-items: center;
    font-size: 30px;
    margin: auto;
}
#grid-size-input input{
    outline: none;
    width:60px;
    height: 25px;
    font-size: 20px;
    color:var(--background-color);

}
#grid {
    width: 550px;
    height: 550px;
    margin: auto;
    display:grid;
    grid-gap: 0em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    background-color:blueviolet;
}
.cell {
    transition: 0.5s;
    background-color:wheat;
}

 
  
